<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Google test" parallel="tests" thread-count="2">

    <test name="Google Test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="project.TAdashboard.testcases.GoogleTest2"></class>
            <class name="project.TAdashboard.testcases.GoogleTest"></class>
        </classes>
    </test>

    <test name="Google Test 2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="project.TAdashboard.testcases.GoogleTest"></class>
        </classes>
    </test>
</suite>
